.bg-dark {
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;background-size:cover;
    
    
  }
.img{
    text-align: center;

}
.card-header{
    background-color: #006ADA !important;
    
}
h5{
    text-align: center;
    color: white;

}
.my-5, .my-5 {
    margin-top: 10rem !important;
}
footer, p{
    text-align: center;

}
form, p{
    text-align: left;

}


.text-muted {
  color: #6c757d
}

.navbar-inverse {
    background-color: #006ADA !important;
    border-color: #006ADA !important;

}
.navbar-inverse .navbar-nav > li > a {
    color: white!important;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: white!important;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #074D88;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 8px 8px;
    font-size: 18px;
    line-height: 20px;

}
.panel-primary .panel-heading{
    color: #006ada;
    background-color: #fff!important;
    padding:25px!important;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}


.panel-primary{
    border-color: #00A1F1!important;

}
.panel-green .panel-heading{
    color: #34A843;
    background-color: #fff!important;
    padding: 25px!important;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
   

}
.panel-green{
    border-color: #34A843!important;
    background-color: #34A843!important;
    color: white!important;

}
.panel-green a {
    color: #34A843!important;

}
.panel-yellow .panel-heading{
    color: #ffbb00;
    background-color: #fff!important;
    padding: 25px!important;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);

}
.panel-yellow{
    border-color: #ffbb00!important;

}
.panel-red .panel-heading{
    color: #ea4335;
    background-color: #fff!important;
    padding: 25px!important;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);

}
.panel-red{
    border-color: #ea4335!important;

}

.navbar-top-links > li > a {
    color: #f7f4f4!important;
}

.navbar-top-links > li > a:hover, .navbar-top-links > li > a:focus, .navbar-top-links > .open > a, .navbar-top-links > .open > a:hover, .navbar-top-links > .open > a:focus {
    color: #fff;
    background-color: #074D88;
}

.nav > li > a {
    position: relative!important;
    display: block!important;
    padding: 15px 15px!important;
    color: #211d1d!important;
}
.nav > li > #nombre-usuario {
    position: relative!important;
    display: block!important;
    padding: 15px 15px!important;
    color: #fff!important;
}
.panel-default > .panel-heading {
    color: #333!important;
    background-color: #ea4335!;
    border-color: #ddd;
}
#guardar-archivo #descargar-archivo{
    margin-right: auto;
}
#ver{
    color: #333;
    background-color: white;
    border-color: #ccc;
}
.btn-primary{
    border-color: #00A1F1!important;
    background-color: #00A1F1!important;
   
}
.btn-warning{
    color: white;
    background-color: #ffbb00!important;
    border-color: #ffbb00!important;
}
.btn-danger{
    color: white;
    background-color:#ea4335;
    border-color: #ea4335;
}
.btn-success{
    color: white;
    background-color:#34A843!important;
    border-color: #34A843!important;
}
.is-valid{
    border-color: #34A843;
    border-width: 2px;
}
.is-invalid{
    border-color: #ea4335;
    border-width: 2px;
}

.pagina-principal,.pagina-principal p{
    text-align: center;
}

.navbar-default {

    /*background-color: #061F35!important;
    border-color: #061F35!important;
    padding-bottom: 10px!important;
    
    color: white!important;*/
    font-size: 17px!important;
}

.fb{
    margin-top: 15px;
    text-align: center;
    background-color: #4267B2;
    color: white;
    font-weight: bold;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
  }

  .imagen-boton-facebook{
    width: 30px;
    float: right;
    display: none;
  }

  .icono-boton-facebook{
    float: left;
    font-size: 26px;
    padding-left: 10px;
  }

#btn-login{
    width: 100%;
}

#footer{
    color:rgb(58, 57, 57);
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff!important;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}
#page-wrapper {
    background-color: #f8f8f8!important;
}

.sidebar ul li {
    border-bottom: 1px solid #ffffff;
    background-color: white!important;
}