
body{
    /* background:; */
    /* font-family: 'Montserrat'; */
    padding-top: 65px;
    /* overflow: hidden; */
    background-color: #F8F8F8;
   }



h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 22px;

}


.editor{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 2px;
    padding-left: 2px;
    height: 400px;
    color:#212529;
    background: #F8F8F8;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.ace-cobalt {
    background-color:#57636F!important;
    color: #fff!important;
}

.ace-cobalt .ace_gutter {

    color:#e3e1e1;
    background-color: #00a1f1;

}


.format{ 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 45px;
    background-color: #00a1f1;
    height:330px;
}

.frame{
    height: 275px !important;
    padding-left: 0;
    padding-right: 0;
    background: #EDF0F5; 

}

strong{
    color:#01B6C9;
}
#pleca{
    color: rgba(255, 255, 255, .8);
}
.ace_editor {
    font: 15px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

